__pycache__/
*.py[cod]
*.egg-info/
.venv/

bff/*/middleware.py
bff/*/requirements.txt
bff/*/utils/common.py
bff/*/utils/common_async.py
bff/*/utils/common_properties.py
bff/*/utils/decorators_async.py
bff/*/utils/exceptions.py
bff/*/utils/logging_cfg.py
bff/*/utils/logging.conf

core/*/middleware.py
core/*/requirements.txt
core/*/utils/common.py
core/*/utils/common_properties.py
core/*/utils/decorators_async.py
core/*/utils/exceptions.py
core/*/utils/logging_cfg.py
core/*/utils/logging.conf

k8s/generated/
